* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 40%;
  margin: auto;
  height: 100%;
  background: #ccc;
  overflow: hidden;
}
.contenedor #lista {
  width: 100%;
  height: 400px;
  border: 1px solid black;
}
.contenedor #lista li {
  width: 90%;
  margin: 0 7px 10px 7px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 4px 5px 4px;
}
.contenedor #lista li .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.contenedor #lista li .descripcion {
  margin: 0;
  margin: 0;
}
.contenedor #lista .red {
  background: #1EB3E8;
  float: left;
  text-align: left;
}
.contenedor #lista .blue {
  background: #2FFFFE;
  float: right;
  text-align: right;
}
.contenedor .opciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.contenedor .opciones input[type=text] {
  display: block;
  width: 80%;
  padding: 5px;
}
.contenedor .opciones button#btn {
  display: block;
  width: 20%;
  border: 1px solid black;
  background: black;
  color: white;
}
.contenedor .opciones button#btn:hover {
  background: white;
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
