*
    padding: 0
    margin: 0
    box-sizing: border-box
.contenedor
    width: 40%
    margin: auto
    height: 100%
    
    background: #ccc
    overflow: hidden
    #lista
        width: 100%
        height: 400px
        border: 1px solid black

        li
            width: 90%
            margin: 0 7px 10px 7px
            padding: 5px 10px
            display: inline-block
            border-radius: 12px
            box-shadow: 0 4px 5px 4px
            .title
                margin: 0
                padding: 0
                font-weight: bold
            .descripcion
                margin: 0
                margin: 0   
        .red
            background: #1EB3E8
            float: left
            text-align: left
        .blue
            background: #2FFFFE
            float: right
            text-align: right
        

    .opciones
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
        input[type="text"]
            display: block
            width: 80%
            padding: 5px
        button#btn
            display: block
            width: 20%
            border: 1px solid black
            background: black
            color: white
            &:hover
                background: white
                color: black
                font-weight: bold
            